:root{
  --bg-color: light-dark(rgb(235, 234, 231), rgb(37, 38, 44));
  --text-color: light-dark(black, white);
}

body {
  color-scheme: light dark;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "IBM Plex Sans", sans-serif;
}

main{
  margin: 0 auto;
  max-width: 50em;
  text-align: center;
}

h1{
  font-family: "Oswald";
}